@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

button {
    padding: 8px 12px;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #c00;
}

body {
    font-size: 18px;
    margin: 0;
}

p {
    margin: 16px 0;
}

ul {
    padding: 0;
    list-style-position: inside;
}

del {
    text-decoration-line: line-through;
    color: #888888;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.title_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    color: #000000;
}

.header_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header_title img {
    vertical-align: sub;
}

.header_title h1 {
    display: inline;
}

.header_title h1 span {
    color: #FF5722;
}

.footer_colored {
    color: #FF5722;
}

.imagesphone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 2rem;
}

.characteristics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;

}

.all_characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    margin-bottom: 50px;
}

.characteristics_wraper {
    display: flex;
    flex-direction: column;
}

.color_product {
    width: 530px;
    height: 80px;
    left: 0px;
    top: 34px
}

.color_product h3 {
    line-height: 19px;
}

.images_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 530px;
    height: 80px;
    left: 0px;
    top: 34px;

}

.chracteristics_list {
    display: flex;
    list-style-type: none;
    width: 580px;
    justify-content: space-between;

}

.characteristic_item>img {
    width: 30.93px;
    height: 60px;
}

.characteristic_item {
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch__iphone {
    height: 30px;
    
    
}

.ch_prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start
 }

.layout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.layout_priceblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 420px;
}

.layout_price {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

}

.layout_sam {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.price_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F36223;
    border-radius: 4px;
    border: none;
    width: 380px;
    height: 64px;
    color: #FFFFFF;
}

.old_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.old_price span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
}

.review_title {
    margin: 16px 0;
}

.review_title h3 {
    display: inline;
}

.review_title span {
    color: #aaa
}

.review_item {
    display: flex;
    flex-direction: row;
}

.review_item_avatar {
    margin-right: 16px;
}

.review_item_title {
    margin-top: 0;
}

iframe {
    border: 1px dashed #ccc;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;

}

.reklama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}

.characteristics__btn {
    background: white;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

.characteristics__buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;

}